# Compiled output
/dist
/tmp
/out-tsc

# Node.js dependencies
/node_modules

# Environment variables
/src/environments/*.ts

# IDE files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular specific files
.angular/cache
