.small-calendar-card {
  width: 80%; /* Ensure it takes the full width of the sidebar */
  padding: 0;
  box-shadow: none; /* Remove box shadow for a clean look */
  border: none;
}

mat-calendar {
  width: 100%;
}
